<div class="row py-4">
    <div class="col-md-6">
        <input class="form-control" type="text" value="<%- title %>" id="edit-title">
    </div>
    <div class="col-md-6">
        <button class="btn btn-success" id="edit-button">Save</button>
        <button class="btn btn-primary" id="cancel-button">Cancel</button>
    </div>
</div>
