<div class="container">
    <div class='row'>
        <div id="form" class="col-md-12"></div>
        <div id="list" class="col-md-6"></div>
        <div id="edit" class="col-md-6"></div>
    </div>
</div>
